

.menu-top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    list-style: none;
    place-self: center;
    padding: 0 1rem;

    font-weight: 600;
    font-size: clamp(0.75rem, 2vw, 1.5rem);
    text-transform: uppercase;

    background-color: $color-neutral-dk;

    border-bottom: 3px solid #2D333A;
    
    width: 100%;
    
    position: fixed;
    z-index: 999;
    

    li {
        place-self: center;
        padding: 0.25rem 0;
        text-align: center;
    }


    li a {
        color: #fff;

        &:hover,
        &:active {
            color: $color-highlight;
        }
    }

}


// TITLE

.title {
    background: $color-neutral-lt;
    height: 100vh;
    display: grid;
    grid-template-rows: 80vh 20vh;
}

.logo-and-text {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.logo img {
    overflow: hidden;
}


.logo-img-wrap {
    container-type: size;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.kolecko {
    position: absolute;
    z-index: 1;
    max-width: 48cqw;
}
.rest {
    position: absolute;
    z-index: 2;
    max-width: 65cqw;
}

h1 {
    position: absolute;
    bottom: 5%;
    text-align: center;
    padding: 0 1rem;
    font-size: $fs-xxl;
    z-index: 3;
    font-weight: 700;
    color: $color-highlight2;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}






.logo .kolecko {
    animation: spin 15s infinite linear;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


// HEADING 

.heading {

    display: grid;
    place-self: center;

    h2 {
        color: $color-highlight2;
        text-align: center;
        padding: 1rem;
        font-size: $fs-xl;
        
        strong {
            color: $color-highlight;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
        }
    }
}


.widget-list {
    display: flex;
    font-size: clamp(1rem, 2vw, 1.5rem);
    list-style: none;

    justify-content: space-around;
    text-align: center;

}

.widget-list-item {
    list-style: none;
    text-align: center;

    li {
        color: $color-highlight2;
        font-weight: 700;
    }

    li:first-child {
        font-size: clamp(2rem, 5vw, 4rem);
        color: $color-highlight;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    }

}

// MEDIA QUERIES

@media (max-width: 1300px) {
    .logo-and-text {
        grid-template-columns: unset;
        grid-template-rows: repeat(2, 1fr);
    }

    .kolecko {

        max-width: 48cqh;
    }
    .rest {

        max-width: 65cqh;
    }

    h1 {
        bottom: 0%;

    }

    .heading h2 {
        font-size: $fs-lg;
    }
}

@media (max-width: 500px) {
    .heading h2 {
        font-size: $fs-md;
    }

    h1 {
        font-size: $fs-xl;

    }

    .menu-top {
        padding-top: 0.25rem;
    }

    .menu-top li a i {
        display: block;
    }
}
