

.menu-top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    list-style: none;
    place-self: center;
    padding: 0 1rem;

    font-weight: 600;
    font-size: clamp(0.75rem, 2vw, 1.5rem);
    text-transform: uppercase;

    background-color: $color-neutral-dk;

    border-bottom: 3px solid #2D333A;
    
    width: 100%;
    
    position: fixed;
    z-index: 999;
    

    li {
        place-self: center;
        padding: 0.25rem 0;
        text-align: center;
    }


    li a {
        color: #fff;

        &:hover,
        &:active {
            color: $color-highlight;
        }
    }

}


// TITLE

.title {
    background: $color-neutral-lt;

    height: 100vh;
    

    display: grid;
    grid-template-rows: 80vh 20vh;
    
}

.logo-and-text {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    column-gap: 1rem;
}

.logo {
    display: grid;
    grid-template-rows: 2fr 1fr;
    
}

.logo img {
    overflow: hidden;
}

.logo-img-wrap {
    position: relative;
    container-type: size;
}

.kolecko {
    position: absolute;
    z-index: 1;
    width: 80cqh;
    left: 29%;
    top: 20%;
}
.rest {
    position: absolute;
    z-index: 2;
    width: 100cqh;
    top: 15%;
    left: 24%;
}

h1 {

    padding: 2rem 0;
    padding-left: clamp(1rem, calc(0.0204rem + 4.8980vw), 4rem);;
    font-size: clamp(2rem, 3vw, 4rem);
    font-weight: 700;
    color: $color-highlight2;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    text-align: center;
}





.logo .kolecko {
    animation: spin 15s infinite linear;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


// HEADING 

.heading {
    display: grid;
    place-self: center;
    text-align: center;
    padding: 0 1rem;

    h2:first-of-type {
        text-align: center;
    }

    h2 {
        padding: 1rem 0;
        padding-right: 1rem;
        font-size: clamp(1.8rem, 2vw, 3rem);
        color: $color-highlight2;
        
        strong {
            color: $color-highlight;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
        }
    }
}


.widget-list {
    display: flex;
    font-size: clamp(1rem, 2vw, 1.5rem);
    list-style: none;

    justify-content: space-around;
    text-align: center;

}

.widget-list-item {
    list-style: none;
    text-align: center;

    li {
        color: $color-highlight2;
        font-weight: 700;
    }

    li:first-child {
        font-size: clamp(2rem, 5vw, 4rem);
        color: $color-highlight;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    }

}

// MEDIA QUERIES



