.content-wrap-3 {
    background: url(../img/bg/gravel.webp) no-repeat;
    background-size: cover;
}

.section-3 {
    padding-right: 1rem;

    .wrapper-3 {
        margin: 4rem 0;
        background: rgba(0, 0, 0, 0.75);
        padding: 0 0.5rem;
        padding-bottom: 2rem;
    }

    h2 {
        padding-top: 3rem;
        font-size: clamp(2rem, 4vw, 2.75rem);
        color: $color-highlight;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
        text-align: center;
    }

    h3 {
        font-size: clamp(1.5rem, 3vw, 2rem);
        text-align: center;
        color: $color-neutral-lt;
        margin: 3rem 0;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    }
}

.galery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 1rem;

    img {
        border-radius: 15px;
        width: 95%;
        border: 3px solid $color-neutral-lt;

        &:hover,
        &:active {
            transform: scale(1.05);
            border-color: $color-highlight;
            transition-duration: 300ms;
        }
    }
}

// SLIDER
.section-3 .slider {
    display: none;
    position: relative;
}

.section-3 .slider button {
    display: none;
}

.mySlides {
    display: none;
    border-radius: 15px;
    border: 3px solid $color-neutral-lt;
}

// MEDIA QUERIES

@media (max-width: 800px) {
    .galery {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 450px) {
    .section-3 .galery {
        display: none;
    }
}

@media (max-width: 450px) {
    .section-3 .slider {
        display: block;
    }

    .section-3 .slider button {
        display: block;
        position: absolute;
        top: 47%;
        background-color: $color-neutral-lt;
        border: 0;
        padding: 0.5rem;
        font-size: $fs-lg;
        cursor: pointer;

    }

    .slide-prev {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .slide-next {
        right: 0;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
}
